.container1{
    height: 200px;
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    border: 1px solid lightgray;
    border-radius: 10px;
}
.img-area img{
    margin-right: 40px;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 50%;
}
.details-area button{
    margin-top: 25px;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: rgb(240, 193, 75);
}

