.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-detail{
    width: 70%;
    color: rgb(240, 193, 75);
    text-transform: capitalize;
}
.header-detail h1{
    font-size: 52px;
    margin-bottom: 10px;
}
.header-detail h4{
    font-weight: normal;
    line-height: 25px;
}
.header-detail button{
    width: 30%;
    height: 50px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    background: rgb(240, 193, 75);;
}